.mikuru-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mikuru {
  width: 200px;
}

#mikuru-message {
  margin-top: 10px;
  background: #ffffffee;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #1b76d2;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  min-width: 220px;
  max-width: 300px;
  display: none;
  text-align: center;
}

#mikuru-message.show {
  display: block;
}
