.mikuru-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mikuru {
  width: 200px;
}

#mikuru-message {
  margin-top: 12px;
  padding: 12px;
  border: 2px solid #1b76d2;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  display: none;
  max-width: 300px;
  text-align: center;
}

#mikuru-message.show {
  display: block;
}
